.Container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    font-size: 2rem;
    font-weight: 600;
}
input{
    text-align: center;
}
@media screen and (max-width : 420px) {
.Container{
    padding: 15px 5px;
}
label{
    font-size: 1.2rem;
}
input{
 align-self: center;
}

}